@(email: String)

@shell("Bundles", email, "bundlesCtrl") {

   <ul class="out bundles">

       <li ng-repeat="bundle in dataList | filter:searchText">

           <img ng-src="@{"{{getBucket()}}/bundles/bundle.{{bundle.id}}.png"}">

           @*<progress class='count' value='{{getCount(bundle.wordsCount)}}' max='70'></progress>*@
           <a class="title" ng-href="/bundle/{{bundle.id}}" ng-attr-title="{{bundle.tags}}">{{bundle.title}}</a>
           <span class="author">by <a href="#">Steve Morris</a></span>
           <span class="linksCount">{{bundle.linksCount}} links</span>

       </li>

       <img class="loading" ng-if="!dataList.length" src="/assets/images/loading.gif">
   </ul>
}
