@(bundle: Bundle, email: String)

@shell(bundle.getTitle, email, "bundleCtrl") {

    <ul class="out bundle">

        <ul class="top">
            <li>
                <img ng-src="@{
                    "{{getBucket()}}/bundles/bundle." + bundle.getId + ".png"
                }">
            </li>
            <li>
                <ul>
                    <li><h1 class="title">@bundle.getTitle</h1></li>
                    <li><span class="linksCount">@bundle.getLinksCount links</span></li>

                    @*<li class="sharing">*@

                        @*<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dry-tundra-9556.herokuapp.com/bundle/@bundle.getId" data-text="@bundle.getTitle" data-size="icon" data-count="none"></a>*@
                        @*<script>! function ( d, s, id ) { var js, fjs = d.getElementsByTagName ( s )[ 0 ], p = /^http:/.test ( d.location ) ? 'http' : 'https' ; if ( ! d.getElementById ( id ) ) { js = d.createElement ( s ) ; js.id = id ; js.src = p + '://platform.twitter.com/widgets.js' ; fjs.parentNode.insertBefore ( js, fjs ) ; } } ( document, 'script', 'twitter-wjs' ) ;</script>*@

                        @*<div class="fb-like" data-href="https://dry-tundra-9556.herokuapp.com/bundle/@bundle.getId" data-layout="button" data-width="450" data-action="like" data-show-faces="false" data-share="true"></div>*@
                    @*</li>*@

                    @*<li class="back"><a href="javascript:window.history.back()">back</a></li>*@
                </ul>
            </li>

        </ul>


        <ul class="links">
            <li ng-repeat="link in dataList | filter:searchText">

                <img ng-if="link.favIconFormat" ng-src="{{getBucket()}}/favicons/{{getDomain(link.url)}}.{{link.favIconFormat}}">
                <img ng-if="!link.favIconFormat" src="/assets/images/default-favicon.png">

                <a href='{{link.url}}' target='_blank' ng-attr-title="{{link.tags}}" class="title">{{link.title}}</a><a ng-href="#" ng-click="favoriteLink(link.id)" class="favorite">&#9734;</a>
            </li>

            <li ng-show="!dataList.length">Loading or just empty.</li>
        </ul>

    </ul>
}
