@(email: String)

@shell("Favorites", email, "favoritesCtrl") {

   <ul class="out favorites">

       <h2>Install <a href="https://chrome.google.com/webstore/detail/edtag/kiecajbpclgoigecdbpaodejolmbhhal" target="_blank">browser extension</a> to save interesting links from the web for later</h2>

       <h3>Currently only for chrome</h3>

       <li ng-repeat="link in dataList | filter:searchText">

           <img ng-if="link.favIconFormat" ng-src="{{getBucket()}}/favicons/{{getDomain(link.url)}}.{{link.favIconFormat}}">
           <img ng-if="!link.favIconFormat" src="/assets/images/default-favicon.png">

           <a href="{{link.url}}" target="_blank" ng-attr-title="{{link.tags}}" class="title">{{link.title}}</a><a ng-href="#" ng-click="removeLink(link.id)" class="favorite">&#9733;</a>

       </li>

       <li ng-show="!dataList.length">Loading or just empty.</li>
   </ul>
}
