@(email: String)

@shell("Links", email, "linksCtrl") {

   <ul class="out links">

       <li ng-repeat="link in dataList | filter:searchText">

           <img ng-if="link.favIconFormat" ng-src="{{getBucket()}}/favicons/{{getDomain(link.url)}}.{{link.favIconFormat}}">
           <img ng-if="!link.favIconFormat" src="/assets/images/default-favicon.png">

           <a href="{{link.url}}" ng-attr-title="{{link.tags}}" target="_blank" class="title">{{link.title}}</a><a ng-href="#" ng-click="favoriteLink(link.id)" class="favorite">&#9734;</a>

       </li>

       <li ng-hide="dataList.length">Loading or just empty.</li>
   </ul>
}
