@(email: String)

@shell("Links", email, "linksCtrl") {

   <ul class="out links">

       <li ng-repeat="link in dataList | filter:searchText">

           <img ng-show="link.favIconFormat" ng-src="{{getBucket()}}/favicons/{{getDomain(link.url)}}.{{link.favIconFormat}}">
           <img ng-show="!link.favIconFormat" src="/assets/images/default-favicon.png">

           <a href="{{link.url}}" ng-attr-title="{{link.tags}}" target="_blank">{{link.title}}</a>

           <a ng-href="#" ng-click="favoriteLink(link.id)" class="favorite">&#9733;</a>

       </li>

       <li ng-hide="dataList.length">Empty.</li>
   </ul>
}
