html {
    /*overflow-y: scroll;*/
}

div {
    /*background-color: rgba(55, 205, 85, 0.16);*/
}

#main table {
    width:100%;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

body, input {

    font: 13px helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.5;
}

.center {

    position: absolute;
    left: 50%;
}

.center div {
    /*background-color: rgba(180, 180, 180, 0.09);*/
}

#main {

    width:100%;
    position: absolute;
    top: 200px;
    left: 0;
    background-color: rgba(99, 109, 180, 0.07);
}

#main a:link    {text-decoration: none; color: blue;}
#main a:visited {color: blue;}


#user {

    text-align: left;
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    width: 500px;
}

#user a:link    {text-decoration: none; color: blue;}
#user a:visited {color: blue;}
/*#user a:hover   {color: red;}*/

#search {

    text-align: left;
    padding-left: 0.3em;
    width: 500px;
}

#answer {

    text-align: left;
    margin-left: 0.3em;
    margin-top: 0.5em;
    width: 500px;
}

/*@keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

/*@-webkit-keyframes fadein {*/
/*from { opacity: 0; }*/
/*to   { opacity: 1; }*/
/*}*/

#answer a:link { text-decoration: none; color: blue;}
#answer a:visited {color: blue;}