body, input {

    font: 13px helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.5;
}

#menu {

	position: absolute;

    left: 210px;
    right: 0;
    min-width: 900px;


	padding: 10px;
	margin-bottom: 10px;

	/*background-color: lightgrey;*/
}

#menu a:link    {text-decoration: none; color: black; margin-left: 15px;}
#menu a:visited {color: black;}
#menu a:hover   {color: rgb(255, 54, 47);}

#signInButton {

    padding-right: 10px;
    display: none;
	float: right;
}

#signOutButton {

    padding: 4px;
    padding-right: 15px;
    display: none;
    float: right;
}

#search {
    padding-left: 0.3em;
    width: 500px;
}

/*main*/

.main a:link    {text-decoration: none; color: black;}
.main a:visited {color: black;}
.main a:hover   {color: rgb(255, 54, 47);}

#out {

	position: absolute;
    top: 66px;
  	left: 220px;
	right: 0;

    min-width: 900px;

    margin-bottom: 50px;

	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
}

.study a {padding-right: 10px;}

.study a:link    	{text-decoration: none; color: rgb(17, 85, 204);}
.study a:visited 	{color: rgb(17, 85, 204);}
.study a:hover 		{text-decoration: underline;}

/* 0 180 239 */

#data {
		
    border-spacing: 16px 10px;
}

#data img {vertical-align: middle;}
#domains img {vertical-align: middle;}

#domains {

	position: fixed;
    top: 66px;
	left: 20px;
	
    border-spacing: 16px 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	
	background-color: rgb(255, 255, 255);
}

#domains tr {
    /*background-color: lightgrey;*/
    /*width: 200px;*/
}

#tags {

	position: fixed;
    top: 66px;
	left: 90px;
    width: 105px;
	border-spacing: 16px 10px;

    text-align: right;

    /*background-color: lightgray;*/
}

#logo {

    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 25px;

    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
    /*background-color: lightgray;*/
}

#save {

    position: fixed;
    top: 20px;
    left: 90px;
    width: 95px;

    padding-top: 3px;
    padding-bottom: 3px;

    text-align: right;

    /*background-color: lightgray;*/
}

#footer {

    position: absolute;
    margin: 20px;
    bottom: 0;
}