.main a:link    {text-decoration: none; color: black;}
.main a:visited {color: black;}
.main a:hover   {color: rgb(254, 65, 50);}

#out {

	position: absolute;
    top: 66px;
  	left: 220px;
	right: 0;

    min-width: 900px;

    margin-bottom: 50px;

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
}

.study a {padding-right: 10px;}

.study a:link    	{text-decoration: none; color: #4183C4;}
.study a:visited 	{color: #4183C4;}
.study a:hover 		{text-decoration: underline;}

/* 0 180 239 */

#data {
		
    border-spacing: 16px 10px;
}

#data img {vertical-align: middle;}
#domains img {vertical-align: middle;}

#domains {

	position: fixed;
    top: 66px;
	left: 20px;
    right: 0;
	
    border-spacing: 0 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	
	background-color: rgb(255, 255, 255);
}

.domain_control {

    padding: 0 16px;

    /*margin: 4px 0;*/

    border-left: 3px solid #fff;
    border-right: 3px solid #fff;

    display: block;

    /*border-left: 1px solid #C75655;*/
    /*border-right: 1px solid #88c788;*/
    /*width: 48px;*/
    /*background-color: #ececec;*/
}

.domain_control:hover {
    border-left: 1px solid rgba(177, 0, 1, 0.33);
    border-right: 1px solid rgba(83, 177, 42, 0.33);
}

tr:hover {
    /* border-spacing make it bad! */

    /*background-color: lightgrey;*/
    /*width: 200px;*/
}

#tags {

	position: fixed;
    top: 66px;
	left: 90px;
    /*right: 195px;*/
    width: 125px;
	border-spacing: 16px 10px;

    text-align: right;

    /*background-color: lightgray;*/
}

#save {

    position: fixed;
    top: 20px;
    left: 90px;
    width: 95px;

    padding-top: 3px;
    padding-bottom: 3px;

    text-align: right;

    /*background-color: lightgray;*/
}