body, input {

    font: 13px helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.5;
}

/*body {background-color: rgb(250, 250, 250);}*/

/*#menu input {border: solid 1px rgb(204, 204, 204);}*/

.center {

    position: absolute;
    left: 50%;
}

.main a:link    {text-decoration: none; color: black;}
.main a:visited {color: black;}
.main a:hover   {color: rgb(255, 54, 47);}

#menu {

	position: relative;
/*	top: 0px;*/
	/*left: 2px;*/
	
	padding: 10px;
	margin-bottom: 10px;
	
	/*background-color: lightgrey;*/
}

#signInButton {

    display: none;
	float: right;
}

#signOutButton {

    padding: 4px;
    display: none;
    float: right;
}


#menu a:link    {text-decoration: none; color: black; margin-left: 10px;}
#menu a:visited {color: black;}
#menu a:hover   {color: rgb(255, 54, 47);}

#out {

	position: absolute;	
  	left: 220px;
	right: 0px;

	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);	
	background-color: rgb(255, 255, 255);
	
/*	border: solid 1px rgb(204, 204, 204);*/
}

.study a {padding-right: 10px;}

.study a:link    	{text-decoration: none; color: rgb(17, 85, 204);}
.study a:visited 	{color: rgb(17, 85, 204);}
.study a:hover 		{text-decoration: underline;}

#data {
		
    border-collapse: separate;
    border-spacing: 15px 10px;		
}

#data img {vertical-align: middle;}
#domains img {vertical-align: middle;}

#domains {

	position: absolute;
	left: 20px;
	
    border-collapse: separate;
    border-spacing: 15px 10px;	
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	
	background-color: rgb(255, 255, 255);	
	
/*	border: solid 1px rgb(204, 204, 204);*/
}

#tags {

	position: absolute;
	left: 90px;	
	border-spacing: 15px 10px;
}

/*#tags tr {height: 22px;}*/

#search {

    padding-left: 0.3em;
    width: 500px;
}