@(title: String)(content: Html)

<!DOCTYPE html>
<html>

    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/extended.css")">

        <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    </head>

    <body>

            <!-- What are you doing here? -_-' -->

        @content

    </body>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/extended.js")"></script>

</html>