html {
	overflow-y: scroll;
}

body, input { //bug

	font: 13px helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.5;


}

body {

	margin: 0;

	ul {
		&.bundles {

			position: absolute;
			top: 58px;
			left: 220px;
			right: 0;
			min-width: 700px;
			margin-bottom: 50px;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
			background-color: rgb(255, 255, 255);
//			padding-left: 8px;

//			margin-left: -10px;

			.title {

//				padding: 10px 0 10px 20px;

				text-align: left;

//				&progress::-webkit-progress-value {
//					background: rgba(105, 235, 94, 0.25);
//				}
			}

			li {

				font: 15px arial;
				line-height: 1.8;

//				border: 1px solid lightgrey;



				list-style: none;

				margin: 25px 20px 0 0;

				width: 280px;
				height: 300px;

				float: left;

				div.links {

//					background-color: rgba(211, 211, 211, 0.16);
//					height: 150px;
//					bottom: 0;
				}

				div.img {

					background-color: rgba(0, 0, 0, 0.05);
					height: 200px;
				}

				progress.count {

//					margin-top: -50px;

//					padding: 0;

					width: 280px;

					border-radius: 0;

					-webkit-appearance: none;
					-moz-border-radius: 0;
					-webkit-border-radius: 0;
					border: none;
					height: 1px;
					vertical-align: midle;
				}

				progress.count::-webkit-progress-bar {
					background: rgba(0, 0, 0, 0.02);
				}

				progress.count::-webkit-progress-value {
					background: rgba(69, 124, 193, 0.36);
				}



				a {
//					width: 250px;

//					margin-top: -25px;

					padding: 10px;

//					padding-right: 20px;
//					padding-bottom: 20px;

					display: block;
					background: rgba(255, 255, 255, 0.9);
					text-transform: capitalize;

					text-decoration: none;

					&:link {
						text-decoration: none;
						color: #4183C4;
					}
					&:visited {
						color: #457cc1;
					}
					&:hover {
//						text-decoration: underline;
					}
				}
				ul.links {
					padding-left: 0;
				}

			}
		}
	}

}

#logo {

	position: fixed;
	left: 25px;
	top: 25px;
	width: 30px;
	height: 20px;


	text-align: right;

	font: 16px andale mono;
//	background-color: gray;

	a {
		&:link {
			text-decoration: none;
			color: black;
		}
		&:visited {
			color: black;
		}
		&:hover {
			color: rgb(254, 65, 50);
		}
	}
}

nav {

	height: 80%;

	&.top-menu {

		background-color: #ffffff;

//		border-bottom: 1px solid lightgrey;

//		box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
		min-width: 700px;

//		font: 15px;

		position: fixed;
		left: 220px;
		right: 0;

		padding: 20px 0 20px 40px;

		height: 30px;

		input {

			padding-left: 0.4em;
			width: 400px;
			float: left;
		}

		.menu {

            list-style: none;
			width: 100%;
			min-width: 200px;
//            float: left;
            margin: 8px 50px 0 0;

			padding-left: 0;

			li {
                float: left;
//                width: auto;

				a {
					margin-left: 20px;
					&:link {
						text-decoration: none;
						color: black;
					}
					&:visited {
						color: black;
					}
					&:hover {
						color: rgb(254, 65, 50);
					}
				}
            }

			li:last-child { float:right; margin-right: 30px;}
		}

		&.m-top {

			position: fixed;
			top: 0;
			left: 220px;
			background: rgba(255, 255, 255, 0.9);
			z-index: 1;
		}
	}

	&#tags {

		position: fixed;
		top: 72px;
		left: 0;
		//	bottom: 0px;

		width: 220px;
		text-align: right;

		//	background-color: #ffffff;
//		background-color: gray;

		padding-top: 10px;

		li {
			list-style: none;
			display: block;
			margin: 12px 24px 0 12px;
		}

		a {
//			max-width: 100px;
//			width: auth;
//			white-space: nowrap;
//			overflow: hidden;
//			text-overflow: ellipsis;




			&:link {
				text-decoration: none;
				color: black;
			}
			&:visited {
				color: black;
			}
			&:hover {
				color: rgb(254, 65, 50);
			}
		}
	}
}

.out {

	position: absolute;
	top: 58px;
	left: 220px;
	right: 0;
	min-width: 700px;
	margin-bottom: 50px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);

	padding-left: 0;

	li {

		list-style: none;
		margin: 24px 0 24px 40px;

		p {
//			padding-left: 0.5em;
		}

		input {
			padding-left: 0.4em;
			width: 230px;
		}

		&.title {
			font: 15px arial;
			line-height: 1.8;
		}

		a {
			color: #457cc1;
			text-decoration: none;

//			&#enter {
//				color: #457cc1;
//			}
		}

	}
}