.user-search{
    margin-top: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    &:focus{
        border-color: gray;
    }
}
.header-block{
    opacity: 0.9;
    height: 70px;
    z-index: 0;
    &.m-top {
        background: rgba(255, 255, 255, 0.9);
        z-index: 2;
    }
}
.logo {
    cursor: pointer;
    height: 20px;
    text-align: right;
    vertical-align: bottom;
    background: none;
    border: none;
    text-transform: uppercase;
    &:link {
        text-decoration: none;
        color: black;
    }
    &:visited {
        color: black;
    }
    &:hover {
        color: rgb(254, 65, 50);
    }
    &:focus {
        outline: none;
    }
}
.top-menu {
    padding: 10px;
    position: relative;
    .abs-link{
        text-transform: uppercase;
        text-decoration: none;
        color: #444;
        display: inline-block;
        height: 22px;
        position: absolute;
        &:visited{
            color: #444;
        }
        &:hover{
            font-weight: bold;
            background:#fff;
        }
        &:nth-child(1){
            left: 20px;
        }
        &:nth-child(2){
            left: 120px;
        }
        &:nth-child(3){
            left: 200px;
        }
        &:nth-child(4){
            left: 400px;
        }
    }
}
