@(email: String)

@default("Bundle generator", email) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/generation.css")">

    <section class="out" ng-controller="bundleGenerationCtrl">

        <div class="preview-bundle">
            <img ng-src="{{imageSrc}}">

            @*<progress class='count' value='{{getCount(bundle.wordsCount)}}' max='70'></progress>*@
            <a class="title" ng-href="#" ng-attr-title="{{bundle.tags}}">{{bundle.title}}</a>
            <span class="author">by <a href="#">Steve Morris</a></span>
            <span class="linksCount">0 links</span>
        </div>

        <form class="add-bundle ml20" enctype="multipart/form-data">
            <div class="input-data">

            	<input type="text" name="title" placeholder="Bundle title" ng-model="bundle.title">
            	<input type="text" name="description" placeholder="Bundle description" ng-model="bundle.description">

                <input type="file" name="image" ng-file-select="onFileSelect($files)" file-model="myFile">

            	<input type="url" name="url" placeholder="Link with urls" ng-model="bundle.url" class="analyse-url">
            	<button type="button" ng-click="analyse()" class="analyse">Analyse</button>
        	</div>
			<textarea class="bundle-links" name="links" ng-model="bundle.links">  </textarea>
        	<button type="submit" ng-click="submitBundle()"  class="generate">Generate</button>
     	</form>
	</section>

}
