@(email: String)

@shell(".", email) {

    <ul class="out">

        <li class="title">New way to collect bunches of links, surf the web and manage links flow</li>
        <li>Most valuable hand-picked articles for your interests</li>
        <li></li>
        <li>Various lessons on things you always wanted to know more about</li>
        <li></li>
        <li>Place to keep all the interesting pages you discover without fear of loosing it</li>
        <li></li>
        <li>Leave your email to get updates on new features of Edtag</li>
        <li><img></li>
        <li></li>
        <li>In order to contact us, please, email to <a href="mailto:contact&#64;edtag.io" target="_top">contact&#64;edtag.io</a></li>
        <li></li>
    </ul>
}