@(email: String)

@shell("Bundles", email, "bundlesCtrl") {

    <section id="main" ng-controller="bundlesCtrl">

        <ul class="out bundles">

            <li ng-repeat="bundle in data | filter:searchText">

                @*<img ng-src="https://s3.amazonaws.com/edtag/bundles/bundle.{{bundle.id}}.png">*@
                <img ng-src="@{"https://s3-eu-west-1.amazonaws.com/dry-tundra-9556/bundles/bundle.{{bundle.id}}.png"}">
                @*<img ng-src="/assets/bundles/bundle.{{bundle.id}}.png">*@

                @*<progress class='count' value='{{getCount(bundle.wordsCount)}}' max='70'></progress>*@
                <a ng-href="/bundle/{{bundle.id}}">{{bundle.title}}</a>
                <span class="linksCount">{{bundle.linksCount}} links</span>
            </li>

        </ul>

    </section>


}
