@(bundle: Bundle, email: String)

@shell("Bundle", email) {

    <section class="main">

    <ul class="out">

        <li ng-repeat="webData in bundle.webDataList">

            <a ng-click='addToCourse(this)'>
                <img ng-show="webData.favIconFormat" ng-src="https://s3.amazonaws.com/edtag/{{getDomain(webData.url)}}.{{webData.favIconFormat}}">
                <img ng-show="!webData.favIconFormat" src="/assets/images/default-favicon.png">
            </a>
            <a href='{{webData.url}}' target='_blank' title='{{webData.tags}}'>{{webData.title}}</a>
            
       </li>
     </ul>

     </section>
}
