@(bundle: Bundle, email: String)

@shell(bundle.getTitle, email, "bundleCtrl") {

    <section class="main">

    <ul class="out bundle">

        <ul class="top">
            <li>
                <img ng-src="@{"https://s3.amazonaws.com/edtag/bundles/bundle." + bundle.getId + ".png"}">
            </li>
            <li>
                <ul>
                    <li><section class="title" contenteditable="true">@bundle.getTitle</section></li>
                    <li><span class="linksCount">@bundle.getLinksCount links</span></li>
                    <li class="back"><a href="javascript:window.history.back()">back</a></li>
                </ul>
            </li>

        </ul>



        <li ng-repeat="webData in bundle.webDataList">

            <a ng-click='addToCourse(this)'>
                <img ng-show="webData.favIconFormat" ng-src="https://s3.amazonaws.com/edtag/{{getDomain(webData.url)}}.{{webData.favIconFormat}}">
                <img ng-show="!webData.favIconFormat" src="/assets/images/default-favicon.png">
            </a>
            <a href='{{webData.url}}' target='_blank' title='{{webData.tags}}'>{{webData.title}}</a>
            
        </li>
     </ul>

     </section>
}
