@shell("Bundles") {

    <nav id="tags" >
        <a href="#" ng-repeat="tag in sortedTags | limitTo: 15" title="{{tag.weight}}">{{tag.name}}</a>
    </nav>
    <section id="main" >
        <ul class="bundles" id="out">
		<li ng-repeat="bundle in courses | filter:searchText" class="page" style="background-image: url(/assets/images/bg.jpg)">
			<a ng-href="/bundle/{{bundle.id}}">{{bundle.title}}</a>
		</li>
            <!--<li ng-repeat="course in courses | filter:searchText" class='page'>
                <p class="title">
                    {{course.title}}
                    <progress class="volume" value="125" max="300" style="padding-left: 20px; width: 500px;"></progress>
                </p>
                <ul class="links">
                    <li ng-repeat="webData in course.webDataList">
                        <a ng-click='addToCourse(this)'>
                            <img ng-show="webData.favIconFormat" ng-src="https://s3.amazonaws.com/edtag/{{getDomain(webData.url)}}.{{webData.favIconFormat}}">
                            <img ng-show="!webData.favIconFormat" src="/assets/images/default-favicon.png">
                        </a-->
        </ul>
    </section>

}
