@shell("Bundles") {

    <nav id="tags" >
        <ul>
            <li ng-repeat="tag in sortedTags | limitTo: 15">
                <a href="#" title="{{tag.weight}}">{{tag.name}}</a>
            </li>
        </ul>
    </nav>

    <section id="main" >

        <ul class="bundles">

            <li ng-repeat="bundle in bundles | filter:searchText">

                <div class="img"><img ng-src="https://s3.amazonaws.com/edtag/bundles/bundle.{{bundle.id}}.png"></div>
                @*<progress class='count' value='{{getCount(bundle.wordsCount)}}' max='70'></progress>*@
                <a ng-href="/bundle/{{bundle.id}}">{{bundle.title}}</a>

            </li>
            <!--<li ng-repeat="course in courses | filter:searchText" class='page'>
                <p class="title">
                    {{course.title}}
                    <progress class="volume" value="125" max="300" style="padding-left: 20px; width: 500px;"></progress>
                </p>
                <ul class="links">
                    <li ng-repeat="webData in course.webDataList">
                        <a ng-click='addToCourse(this)'>
                            <img ng-show="webData.favIconFormat" ng-src="https://s3.amazonaws.com/edtag/{{getDomain(webData.url)}}.{{webData.favIconFormat}}">
                            <img ng-show="!webData.favIconFormat" src="/assets/images/default-favicon.png">
                        </a-->
        </ul>

    </section>

}
