@(email: String)

@shell("Bundle generator", email) {

    <ul class="out">

        <li class=""><input type="file"  name="image"        placeholder="Image"></li>
        <li class=""><input type="url"  name="url"           placeholder="Image URL"></li>
        <li class=""><input type="text"  name="title"        placeholder="Title"></li>
        <li class=""><input type="text"  name="description"  placeholder="Description"></li>
        <li class=""><input type="text"  name="links"        placeholder="Links"></li>
        <li class=""><input type="submit" href="/bundle/add" id="enter"></li>
        <li></li>
    </ul>
}