@shell("Courses") {
    <nav id="tags">
        <a href="#" ng-repeat="tag in sortedTags" title="{{tag.weight}}">{{tag.name}}</a>
    </nav>
    <section id="main" >
        <ul class="links" id="out">
            <li ng-repeat="link in links | filter:searchText" class='page'>
                <img src="https://s3.amazonaws.com/edtag/{{getDomain(link.url)}}.{{link.favIconFormat}}" ng-show="link.favIconFormat">
                <img src="assets/images/default-favicon.png" ng-show="!link.favIconFormat">
                <a href='{{link.url}}' target='_blank' title='{{link.tags}}'>{{link.title}}</a>
                <progress class='volume' value='{{getCount(link.uniqueWordsCount)}}' max='50'></progress>
            <li>
        </ul>
    </section>
}
