@shell("Courses") {


    <div id="main" >
        <ul class="links" id="out">



            <li ng-repeat="course in courses | filter:searchText" class='page'>

                <p class="title">
                    {{course.title}}
                    <progress class="volume" value="125" max="300" style="padding-left: 20px; width: 500px;"></progress>
                </p>

                <ul>
                    <li ng-repeat="webData in course.webDataList">
                        <a href='#'><img src="https://s3.amazonaws.com/edtag/{{getDomain(webData.url)}}.{{webData.favIconFormat}}" ng-show="webData.favIconFormat"></a>

                        <a href='{{webData.url}}' target='_blank' title='{{webData.tags}}'>{{webData.title}}</a>
                        <progress class='volume' value='{{getCount(webData.uniqueWordsCount)}}' max='50'></progress>
                    </li>
                </ul>

            <li>

        </ul>

        <nav id="tags" class="menu">
            <ul>
                <li ng-repeat="tag in sortedTags" class='tag'>
                    <a href="javascript:void(this)" title="{{tag[1]}}">{{tag[0]}}</a>
                </li>
            </ul>
        </nav>

    </div>
}
