@(title: String, email: String)(content: Html)

<!DOCTYPE html>
<html ng-app="edTagApp">

    <head>

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/lodash.js")"></script>
        <script src="@routes.Assets.at("javascripts/ga.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/services/bundle-upload.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/tags.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers/bundle-generation.js")"></script>
        <script src="@routes.Assets.at("javascripts/directives/ng-file-select.js")"></script>
       	<script src="@routes.Assets.at("javascripts/directives/file-model.js")"></script>

    </head>

    <body ng-controller="mainCtrl">

        <header>
            <button ng-click="showSearch()" id="logo">&#60; &#62;</button>

            <nav class="top-menu">
                <input id="search" placeholder="Search" ng-model="searchText"/>
                <ul class="menu">

                    <li><a ng-class="getClass('/bundles')" href="/bundles" id="bundles">Bundles</a></li>
                    <li><a ng-class="getClass('/links')" href="/links" id="links">Links</a></li>


                    @if(email == null) {

                        @*<li><a ng-class="getClass('/about')" href="/about" id="about">About</a></li>*@

                        <li><a ng-class="getClass('/login')" href="/login" class="auth">Sign In</a></li>
                        @*<li>*@
                            @*<fb:login-button data-size="icon" scope="public_profile,email" onlogin="checkLoginState();">*@
                            @*</fb:login-button>*@
                        @*</li>*@

                    } else {

                        <li><a ng-class="getClass('/favorites')" href="/favorites" id="favorites">Favorites</a></li>

                        @*<li><a ng-class="getClass('/about')" href="/about" id="about">About</a></li>*@

                        @*<li><a ng-class="getClass('/generation')" href="/generation" id="generation">+</a></li>*@

                        <li><a href="/signout" class="auth">Sign Out</a></li>
                    }

                </ul>
            </nav>
        </header>

        @content

    </body>

        <!-- What are you doing here? -_-' -->

    <script>
        document.getElementById('search').onkeypress = function(e){
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == '13'){

        alert(document.getElementById('search').value);
        // Enter pressed
        return false;
        }
        }
    </script>

</html>
