@(email: String)

@shell("Favorites", email) {


    <nav id="tags" >
        <ul>
            <li ng-repeat="tag in sortedTags | limitTo: 15">
                <a href="#" title="{{tag.weight}}" ng-click="filterByTag(this)">{{tag.name}}</a>
            </li>
        </ul>
    </nav>

    <section id="main" ng-controller="linksCtrl">

        <ul class="out favorites">

            <h2>Install <a href="https://chrome.google.com/webstore/detail/edtag/kiecajbpclgoigecdbpaodejolmbhhal" target="_blank">browser extension</a> to bookmark interesting links from the web for later</h2>

            <h3>Currently only for chrome</h3>

            <li ng-repeat="link in links | filter:searchText">


                <img ng-show="link.favIconFormat" ng-src="https://s3.amazonaws.com/edtag/{{getDomain(link.url)}}.{{link.favIconFormat}}">
                <img ng-show="!link.favIconFormat" src="/assets/images/default-favicon.png">

                <a href="{{link.url}}" target="_blank">{{link.title}}</a>

                <a href="javascript:saveLink()" class="save">&#9733;</a>

            </li>
        </ul>

    </section>
}
