@shell("Ed") {

    <div id="logo" class="menu"><a href="javascript:logo()">&#60; &#62;</a></div>

    <div id="menu" class="menu">

        <input id="search" type="text" />

        <span class="selected" id="menu_pages"><a href="javascript:pages()">Courses</a></span>
        <span class="selected" id="menu_domains"><a href="javascript:domains()">Sources</a></span>
        <span class="selected" id="menu_extension"><a href="https://chrome.google.com/webstore/detail/edtag/kiecajbpclgoigecdbpaodejolmbhhal" target='_blank'>Fill</a></span>

        <span class="selected"><a href="mailto:contact&#64;edtag.io" target="_top">Contact</a></span>

    </div>

    <div id="main" class="main"></div>
}