@main("Nothing") {

    <div id="interlocution" class="center">

        <div style="position: relative; left: -50%;">
            <div id="user">
                <a href="javascript:void(0)" title="Head.">_0_</a>
                    <!-- <a href="javascript:void(0)" title="This spell allows you to open a single element on the page: 2 left.">mind~</a>
				<a href="javascript:void(0)" title="Sword.">=]sword></a>
				<a href="javascript:void(0)" title="Some food: 4 left.">[heal+]</a>
				<a href="javascript:void(0)" title="Some food: 4 left.">{food}</a> -->
            </div>
            <div id="search_wrapper"><input id="search" type="text" /></div> <!-- speech -->
            <div id="answer"></div>
        </div>

    </div>

    <div id="main"></div>
}
