@shell("Auth") {

@shell("Authorization") {
    <section>
        <ul class="out">
            <li class="title"><p>Simple authentication or registration</p></li>
            <li><input id="email" type="email" placeholder="Email"/></li>
            <li><input id="password" type="password" placeholder="Password"/></li>
            <li><p><a href="/auth" id="enter">Enter</a></p></li>
            <li><p><a href="https://chrome.google.com/webstore/detail/edtag/kiecajbpclgoigecdbpaodejolmbhhal#1" target='_blank'>Chrome extension</a></p></li>
        </ul>
    </section>
}
