@(email: String)

@default("Sign In", email) {
    <section id="main" >
        <ul class="out login">

            <li class="title"><h2>Authorization or registration</h2></li>

            <li>
                <input class="empty" type="submit" value="Create empty account" onclick="empty()">
            </li>

            <li>
                @helper.form(routes.Application.signIn()) {
                    <input id="email" name="email" type="email" placeholder="Email"/><br/><br/>
                    <input id="password" name="password" type="password" placeholder="Password"/><br/><br/>
                    <input type="submit" href="/signin" id="enter">
                }
            </li>

            <li class="social">
                <input class="google" type="submit" value="Google" onclick="google()">
                <div id="fb-root"></div>
                <input class="facebook" type="submit" value="Facebook" onclick="checkLoginState()">
                <input class="twitter" type="submit" value="Twitter" onclick="twitter()">
            </li>
        </ul>
    </section>

    @*<script>window.onload=function(){checkLoginState()};</script>*@
}
