@(title: String)(content: Html)

<!DOCTYPE html>
<html ng-app="edTagApp">
    
    <head>

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-2.1.0.js")"></script>
        <script src="@routes.Assets.at("javascripts/extended.js")"></script>
        <script src="@routes.Assets.at("javascripts/ga.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>

    </head>

    <body>

        <div id="logo" class="menu"><a href="/">&#60; &#62;</a></div>

        <nav id="menu" class="menu">

            <input id="search" type="text" ng-model="search" />

            <span id="courses">
                <a href="/courses">Courses</a>
            </span>

            <span id="sources">
                <a href="/sources">Sources</a>
            </span>

            <span id="personalization">
                <a href="/personalization">Personalization</a>
            </span>

            <span id="about">
                <a href="/about">About</a>
            </span>

        </nav>

            <!-- What are you doing here? -_-' -->

        @content

    </body>



</html>
