@shell.extended("PKM Server") {

    <div class="center">

        <div style="position: relative; left: -50%;">

            <div id="user">
                <a href="/logout" onclick="">logout</a>
            </div>
            <div id="search_wrapper"><input id="search" type="text" /></div>

            <div id="answer"><p>Now it seems that you're not stupid. It is experimental system for self-education that will help you to find a new information through implicit search, save pages in tag tree and to select the best knowledge from different perspectives.</p>
            <p>You can try to enter any query and see what will happen. There's sort of understandable. Interface is constantly changing and you will likely find something new from time to time. Just ask if you need something.</p>
            <p>If you want to quickly grow your tag tree - here's a <a href="@routes.Assets.at("extension.zip")">plugin</a> to add your favorite pages.</p>
            <p>Well. And. Don't tell people how to enter.</p></div>

        </div>

    </div>
}