@(user: String)(answer: String)
@shell.extended("PKM (alpha v0.2)") {
    <div id="menu">

        <input id="search" type="text" />

        <a href="javascript:void(0)" onclick="list()" style="color: red;">Pages</a>
        <a href="javascript:void(0)" onclick="tags()">Tags</a>
        <a href="javascript:void(0)" onclick="statistics()">Statistics</a>

        <a href="/logout" id="logout"><img src="@routes.Assets.at("images/signout.png")" height='15' width='15'></a>

    </div>

    <div id="main"></div>
}