@(email: String)
@extended("Nothing") {

    <div id="interlocution" class="center">

        <div style="position: relative; left: -50%;">
            <div id="user">tags <a href="/logout" onclick="">logout</a></div>
            <div id="search_wrapper"><input id="search" type="text" /></div>
            <div id="answer"><p>Physics is one of the oldest academic disciplines, perhaps the oldest through its inclusion of astronomy. Over the last two millennia, physics was a part of natural philosophy along with chemistry, certain branches of mathematics, and biology, but during the Scientific Revolution in the 17th century, the natural sciences emerged as unique research programs in their own right.</p></div>
        </div>

    </div>

    <div id="main"></div>
}